@font-face {
    font-family: 'Font';
    src: url('../fonts/font.woff2') format('woff2');
}
  
.middle-column-wrapper {
    display: flex;
    justify-content: center;
    min-height: 100vh;     
    margin: 0;             
}

.middle-column { 
    max-width: 700px;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
}

.title {
    color: black;
    font-family: 'Font';

}

.text {
    font-family: 'Font';
    padding-top: 18px;
    text-align: left;
    
}

.panel {
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    max-width: 700px;
    margin-top:22px;
    padding-top:14px;
    padding-left:14px;
    padding-bottom:14px;
    box-sizing: border-box;

}


.panel-title {
    font-family: 'Font';
    
}

.panel-subtitle {
    font-family: 'Font';
    color: grey;
    margin-top: 3px;   
}

.panel-text {
    font-family: 'Font';
    margin-top: 10px;
    text-align: left;    

}
