/* Styles for the .content div */
.above-the-fold {
    max-width: 500px;              /* Sets the width to 1000 pixels */
    margin: auto;  
    margin-top: 5%;
    box-sizing: border-box;     /* Includes padding and border in the element's total width and height */
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 16px;
    padding-left: 24px;
    padding-right: 24px;
}

.work-with-us {
    max-width: 500px;              /* Sets the width to 1000 pixels */
    margin: auto;
    margin-top: 5%;
    box-sizing: border-box;     /* Includes padding and border in the element's total width and height */
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 16px;
    padding-left: 24px;
    padding-right: 24px;
}